FLASK_SECRET_KEY=XXXXXXXXXXXXXXX


STRIPE_PUBLISHABLE_KEY=pk_XXXXXXXXXXXXXXX
STRIPE_SECRET_KEY=sk_XXXXXXXXXXXXXXX
STRIPE_ENDPOINT_SECRET=whsec_XXXXXXXXXXXX

STRIPE_PRICING_TABLE_ID=prctbl_XXXXXXXXXXXX

DB_URI=sqlite:///app.db

PUBLIC_URL=http://localhost:5000
