<h1>Login</h1>
<form id="form_login">
    <input type="email" name="email" placeholder="fake@example.com" value="fake@example.com" />
    <input type="password" name="password" placeholder="hunter2" value="hunter2" />
    <button type="submit">Submit</button>
</form>
<script>
    document.getElementById("form_login").addEventListener("submit", async (event) => {
        event.preventDefault();
        formData = new FormData(event.currentTarget);

        const res = await fetch("/login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            // Pass email directly the from form to here,
            // Or use return from createAppUser?
            body: JSON.stringify({username: formData.get("email"), password: formData.get("password") })
        });
        const data = await res;
        if (data.status == 200){
            window.location.replace("/dashboard");
        }
        else{
            console.log("error")
        }
    });
</script>

