{% extends 'user-area.html' %}
{% block body %}
    {{ super() }}
<h1>Onboarding</h1>
<p>Thank you for creating your account.</p>
<p>Please choose your plan below.</p>

{% if USE_STRIPE_PRICING_TABLE %}
{% include './includes/pricing-table.html' %}
{% else %}
{# monthly plans only #}
<form id="form_plan">
    <input type="radio" id="plan_free" name="plan" value="{{ prod_map['free'] }}" />
    <label for="plan_free">Free</label>
    <input type="radio" id="plan_pro" name="plan" value="{{ prod_map['pro'] }}" />
    <label for="plan_pro">Pro</label>
    <input type="radio" id="plan_elite" name="plan" value="{{ prod_map['elite'] }}" />
    <label for="plan_pro">Elite</label>
    <button type="submit" id="checkout-button">Submit</button>
</form>
<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");
    document.getElementById("form_plan").addEventListener("submit", async (event) => {
        event.preventDefault();
        const selected_price_id = event.currentTarget.plan.value;

        /*
        * Ordering here is important
        * 1. Create user in app first
        * 2. Using the new in-app user,
        *    explicitly create customer,
        *    rather than letting stripe do it on checkout
        * 3. Pass the customer to checkout object creation
        * 4. Redirect user to the checkout
        */
        console.log("creating in stripe");
        const res = await fetch("/create-checkout-session", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            // Pass email from session?
            // session id?
            // Either way this is a security hole,
            // as user can modify clientside
            // Production system should use token
            body: JSON.stringify({
                price_id: selected_price_id,
                userEmail: "{{ session['email'] }}"
            })
        });
        const data = await res.json();
        stripe.redirectToCheckout({ sessionId: data.id });
    });
</script>
{% endif %}
{% endblock %}
