<h1>New Registration</h1>
<form id="form_registration">
    <input type="email" name="email" placeholder="fake@example.com" value="fake@example.com" />
    <input type="password" name="password" placeholder="hunter2" value="hunter2" />
    <input type="text" name="favecolor" placeholder="red" value="red" />
    <button type="submit" id="checkout-button">Subscribe</button>
</form>
<script>

    const searchParams = new URLSearchParams(window.location.search);

    async function createAppUser(data){
        user = Object.fromEntries(data);
        const resu = await fetch("/user", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(user)
        });
        return resu;
    }

    document.getElementById("form_registration").addEventListener("submit", async (event) => {
        event.preventDefault();
        formData = new FormData(event.currentTarget);

        /*
        * Ordering here is important
        * 1. Create user in app first
        * 2. Using the new in-app user,
        *    explicitly create customer,
        *    rather than letting stripe do it on checkout
        * 3. Pass the customer to checkout object creation
        * 4. Redirect user to the checkout
        */
        appUser = await createAppUser(formData);
        if (appUser.status == 201){
            console.log("created user");
        }
        else{
            // TODO: allow checkout even if user existed already
            console.log("user already exists");
        }
    });
</script>

